<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DeviceRentDetailMapper">
    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_device_rent_detail
          (device_name, device_unit, device_unit_price, rent_num, total_price, rent_id, device_id)
        VALUES
          <foreach collection="list" item="obj" separator=",">
              (#{obj.deviceName},#{obj.deviceUnit},#{obj.deviceUnitPrice},#{obj.rentNum},#{obj.totalPrice},#{obj.rentId},#{obj.deviceId})
          </foreach>
    </insert>
    <select id="findByRentId" resultType="com.kaishengit.pojo.DeviceRentDetail">
        SELECT *
        FROM t_device_rent_detail
        WHERE rent_id = #{rentId}
    </select>
</mapper>